[submodule "Frontend/frontend_spa"]
	path = Frontend/frontend_spa
	url = git@github.com:Nadegamra/olp-frontend-spa.git
[submodule "Services/Authentication"]
	path = Services/Authentication
	url = git@github.com:Nadegamra/microservices-authentication.git
[submodule "Services/CourseManagement"]
	path = Services/CourseManagement
	url = git@github.com:Nadegamra/microservices-course_management.git
